*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#back1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#back2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.5fr;
    height: max-content;
    .container-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
        padding: 20px;
        gap: 10px;
        position: relative;
        .title{
            font-family: "Poppins", sans-serif;
            color: white;
            font-size: 4em;
            font-weight: 600;
            text-align: center;
            font-style: normal;
        }
        .subtitle{
            font-family: "Poppins", sans-serif;
            color: white;
            text-align: center;
            font-size: 1rem;
            font-weight: 100;
            font-style: normal;
            width: 70%;
            overflow-wrap: break-word;
        }
        #boton{
            padding: 10px;
            width: 150px;
            text-align:center;
            text-decoration: none;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
            color: rgb(0, 0, 0);
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 300;
            font-style: normal;
        }
    }
    .container-bottom{
        background-color: aqua;
        display: grid;
        grid-template-rows:1fr 1fr 1fr;
        .container-img{
            background-color: antiquewhite;
            #image1{
                width: 100%;
                height: auto;
            }
        }
    }
}

@media (min-width: 618px){
    .grid-principal{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.7fr;
        .container-title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: fit-content;
            padding: 20px;
            gap: 10px;
            position: relative;
            .title{
                font-family: "Poppins", sans-serif;
                color: white;
                font-size: 4em;
                font-weight: 600;
                text-align: center;
                font-style: normal;
            }
            .subtitle{
                font-family: "Poppins", sans-serif;
                color: white;
                text-align: center;
                font-size: 1rem;
                font-weight: 100;
                font-style: normal;
                width: 70%;
                overflow-wrap: break-word;
            }
            #boton{
                padding: 10px;
                width: 150px;
                text-align:center;
                text-decoration: none;
                background-color: rgb(255, 255, 255);
                border-radius: 20px;
                color: rgb(0, 0, 0);
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
            }
        }
        .container-bottom{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            .container-img{
                background-color: antiquewhite;
                #image1{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}