*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.grid-principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    padding: 15px;
    gap: 20px;
    .container-top-texts{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .title{
            font-family: "Poppins", sans-serif;
            color: rgb(37, 37, 37);
            font-size: 3em;
            font-weight: 600;
            text-align: left;
            font-style: normal;
            width: 100%;
        }
        .linea{
            width: 100%;
            height: 1px;
            border: 2px solid rgb(0, 0, 0);
            border-radius: 10px;
        }
        .subtitle{
            font-family: "Poppins", sans-serif;
            color: rgb(37, 37, 37);
            text-align: left;
            font-size: 1rem;
            font-weight: 100;
            font-style: normal;
        }
        .container-bottom{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            #boton{
                padding: 10px;
                width: 150px;
                text-align:center;
                text-decoration: none;
                background-color:rgb(227, 182, 53);
                border-radius: 50px;
                color: rgb(37, 37, 37);
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
            }
        }
        .highlight {
            color: rgb(227, 182, 53);
        }
    }
    .container-bottom-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,0.5fr);
        width: 70vw;
        height: 100%;
        padding: 10px;
        gap: 10px;
        .bottom-flex{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border-radius: 15px;
            background-color:rgb(37, 37, 37);
            padding: 10px;
            .num{
                padding: 10px;
                color: white;
                font-family: "Poppins", sans-serif;
                font-size: 1.2rem;
                font-weight: 300;
                font-style: normal;
            }
            .bottom-subtitle{
                color: rgb(168, 169, 180);
                font-family: "Poppins", sans-serif;
                text-align: left;
                font-size: 1rem;
                font-weight: 100;
                padding: 10px;
            }
        }
    }
    .container-bottom{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .imagen{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 80%;
                height: 100%;
            }
        }
    }
}

@media (min-width: 625px){
    .grid-principal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 20px;
        .container-top-texts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
            .title{
                font-family: "Poppins", sans-serif;
                color: rgb(37, 37, 37);
                font-size: 3em;
                font-weight: 600;
                text-align: left;
                font-style: normal;
                width: 100%;
            }
            .linea{
                width: 100%;
                height: 1px;
                border: 2px solid rgb(0, 0, 0);
                border-radius: 10px;
            }
            .subtitle{
                font-family: "Poppins", sans-serif;
                color: rgb(37, 37, 37);
                text-align: left;
                font-size: 1rem;
                font-weight: 100;
                font-style: normal;
            }
            .container-bottom{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                #boton{
                    padding: 10px;
                    width: 150px;
                    text-align:center;
                    text-decoration: none;
                    background-color:rgb(227, 182, 53);
                    border-radius: 50px;
                    color: rgb(37, 37, 37);
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                }
            }
            .highlight {
                color: rgb(227, 182, 53);
            }
        }
        .container-bottom-grid{
            display: grid;
            grid-template-columns: repeat(3,0.5fr);
            grid-template-rows: 1fr;
            grid-column: span 1;
            grid-row: span 1 / -1;
            width: 100%;
            height: 80%;
            padding: 10px;
            gap: 10px;
            .bottom-flex{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                border-radius: 15px;
                background-color:rgb(37, 37, 37);
                padding: 10px;
                .num{
                    padding: 10px;
                    color: white;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 300;
                    font-style: normal;
                }
                .bottom-subtitle{
                    color: rgb(168, 169, 180);
                    font-family: "Poppins", sans-serif;
                    text-align: left;
                    font-size: 1rem;
                    font-weight: 100;
                }
            }
        }
        .container-bottom{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-row: -3 / -1;
            .imagen{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                img{
                    width: 80%;
                    height: 100%;
                }
            }
        }
    }
}
