*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.grid-principal{
    background-color:rgb(251, 244, 223);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
    gap: 10px;
    padding: 20px;
    .container-top-texts{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .title{
            font-family: "Poppins", sans-serif;
            color: rgb(51, 51, 51);
            font-size: 3em;
            font-weight: 500;
            text-align: left;
            font-style: normal;
            width: 100%;
            border: solid black;
          }
        }
        .subtitle{
            font-family: "Poppins", sans-serif;
            color: rgb(51, 51, 51);
            text-align: left;
            font-size: 1rem;
            font-weight: 100;
            font-style: normal;
        }
        .container-bottom{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            #boton{
                padding: 10px;
                width: 150px;
                text-align:center;
                text-decoration: none;
                background-color : rgb(51, 51, 51);
                border-radius: 50px;
                color:white;
                font-family: "Poppins", sans-serif;
                font-size: 15px;
                font-weight: 300;
                font-style: normal;
            }
        }
    }
    .container-image{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        .imagen{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 80%;
                height: 100%;
            }
        }
    }
    .max-cont{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .container-bottom-grid{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,0.5fr);
            width: max-content;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 5px;
            border: 3px solid black;
            box-shadow:  20px 25px 8px rgb(215, 170, 59);
            .bottom-flex{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                width: 100%;
                height: 50%;
                padding: 10px;
                background-color: rgb(248, 208, 70);
                .num{
                    padding: 2px;
                    color: black;
                    font-family: "Poppins", sans-serif;
                    font-size: 1.2rem;
                    font-weight: 700;
                    font-style: normal;
                }
                .bottom-subtitle{
                    color: rgb(51, 51, 51);
                    font-family: "Poppins", sans-serif;
                    text-align: left;
                    font-size: 1rem;
                    font-weight: 100;
                    padding: 2px;
                }
            }       
    }
}

@media (min-width: 625px){
    .grid-principal{
        background-color:rgb(251, 244, 223);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.4fr;
        gap: 10px;
        padding: 20px;
        height: max-content;
        .container-top-texts{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .title{
                font-family: "Poppins", sans-serif;
                color: rgb(51, 51, 51);
                font-size: 3em;
                font-weight: 500;
                text-align: left;
                font-style: normal;
                width: 100%;
            }
            .subtitle{
                font-family: "Poppins", sans-serif;
                color: rgb(51, 51, 51);
                text-align: left;
                font-size: 1.2rem;
                font-weight: 100;
                font-style: normal;
            }
            .container-bottom{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                #boton{
                    padding: 10px;
                    width: 150px;
                    text-align:center;
                    text-decoration: none;
                    background-color : rgb(51, 51, 51);
                    border-radius: 50px;
                    color:white;
                    font-family: "Poppins", sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    font-style: normal;
                }
            }
        }
        .container-image{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            .imagen{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                img{
                    width: 80%;
                    height: 100%;
                }
            }
        }
        .max-cont{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            grid-column: span 2;
            .container-bottom-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                width: 100%;
                height: 100%;
                grid-column: span 2;
                border-radius: 5px;
                border: 3px solid black;
                box-shadow:  18px 20px 1px rgb(215, 170, 59);
                .bottom-flex{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(248, 208, 70);
                    .num{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 1.2rem;
                        font-weight: 700;
                        font-style: normal;
                    }
                    .bottom-subtitle{
                        color: rgb(51, 51, 51);
                        font-family: "Poppins", sans-serif;
                        text-align: left;
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }
}