*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    padding: 3%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
}
.container-content-title-font{
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    font-style: normal;
}

.container-content-slites-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    gap: 20px;
}
.container-content-slites-cards-info{
    width: 100%;
    height: 100%;
}
.container-content-stylesub{
    font-family: "Poppins", sans-serif;
    text-align: start;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: normal;
}
.container-content-text-numbers{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    gap: 10px;
}
#image{
    width: 100%;
    height: 70%;
    object-fit: cover;

}

@media (min-width: 630px){
    .container{
        display: grid;
        padding: 3%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr;
        height: fit-content;
    }
    .container-content-slites-cards{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: max-content;
        gap: 20px;
    }
    .container-content-title-font{
        font-family: "Poppins", sans-serif;
        font-size: 4em;
        font-weight: 600;
        text-align: start;
        font-style: normal;
    }
}